.top-panel-wrapper {
  box-sizing: border-box;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-panel-buttons {
  display: flex;
  align-items: center;
}

.site-calendar-demo-card {
  width: 300px;
}

.filter-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.week-dropdown {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ant-btn-primary {
  background-color: #00b33c !important;
  border-color: #00b33c !important;
  color: #FFF !important;
}

.ant-btn-primary:hover {
  background-color: rgba(0, 179, 60, 0.7) !important;
  border-color: rgba(0, 179, 60, 0.7) !important;
  color: #FFF !important;
}

.ant-switch-checked {
  background-color: #00b33c !important;
}

.ant-radio-button-checked {
  background: #00b33c !important;
  border-color: #00b33c !important;
  color: #fff !important;
}

.ant-radio-button-wrapper:hover {
  color: #00b33c !important;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #fff;
  background: #00b33c !important;
  border-color: #00b33c !important;
  border-right-color: rgba(0, 179, 60, 0.7) !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #fff !important;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background: #00b33c !important;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: rgba(0, 179, 60, 0.8) !important;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: rgba(0, 179, 60, 0.8) !important;
  box-shadow: 0 0 0 2px rgba(0, 179, 60, 0.2) !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  border-color: #00b33c !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: #00b33c !important;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: #00b33c !important;
}

.boton-iconos:hover {
  border-color: #00b33c !important;
  color: #00b33c !important;
}

.boton-iconos:focus {
  border-color: #00b33c !important;
  color: #00b33c !important;
}

.ant-dropdown-trigger:hover {
  border-color: #d9d9d9 !important;
  color: #00b33c !important;
}

.ant-pagination-item-active {
  border-color: #00b33c !important;
}

.ant-pagination-item-active a {
  color: #00b33c !important;
}

.ant-pagination-item-link:hover {
  color: #00b33c !important;
}

a:hover {
  color: #00b33c !important;
}

.ant-pagination li:hover {
  color: #00b33c !important;
}


.selected-button {
  background-color: #00b33c !important;
  color: white !important;
}

.selected-button:hover {
  background-color: white !important;
  color: #00b33c !important;
}

/* Cambiar el color del borde punteado al hacer hover sobre el área de arrastre */
.ant-upload-drag:hover {
  border-color: #00b33c !important;
}

.ant-btn:hover {
  color: #00b33c !important;
  border-color: #00b33c !important;
}

.ant-btn:focus {
  color: #00b33c !important;
  border-color: #00b33c !important;
}

.ant-btn-link {
  color: #00b33c !important;
}

.ant-btn-link:hover  {
  color: #00b33c !important;
  border-color: transparent !important;
}

.ant-btn-link:focus {
  border-color: transparent !important;
}

.ant-table-filter-trigger.active {
  color: #00b33c !important;
}

.ant-dropdown-menu-item-selected {
  color: #00b33c !important;
}

.ant-checkbox-input.active {
  color: #00b33c !important;
}

.ant-picker:hover {
  border-color: #00b33c !important;
}

.ant-picker:focus {
  border-color: #00b33c !important;
}

.ant-picker-focused {
  border-color: #00b33c !important;
}

.ant-picker-dropdown {
  box-shadow: none !important;
}

.ant-picker {
  box-shadow: none !important;
}

.ant-picker-today-btn {
  color: #00b33c !important;
}

/* Cambiar el color del checkbox seleccionado en el filtro de columna */
.ant-table-filter-dropdown .ant-checkbox-wrapper .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00b33c !important;
  border-color: #00b33c !important;
}

/* Cambiar el color de los botones de orden cuando están activos */
.ant-table-column-sorter-up.active,
.ant-table-column-sorter-down.active {
  color: #00b33c !important;
}

.btn-agregar-tarea:hover {
  background-color: white !important;
}

.ant-input:hover {
  border-color: #00b33c !important;
}

.ant-input:focus {
  border-color: #00b33c !important;
  box-shadow: none !important;
}

.anticon-inbox {
  color: #00b33c !important;
}

.btn-cancelar-tarea:hover,
.btn-cancelar-tarea:focus,
.btn-cancelar-tarea:active {
  color: #ff4d4f !important;
  background-color: #FFFFFF !important;
  border-color: #ff4d4f !important;
}