.spin-wrapper {
    display: flex;
    justify-content: center;
}

.options-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.ant-btn:focus{
    color: #00b33c !important;
    border-color: #00b33c !important;
}
.ant-btn:hover{
    color: #00b33c !important;
    border-color: #00b33c !important;
}

.ant-btn::selection{
    color: #00b33c;
    border-color: #00b33c !important;
    background: #00b33c;
}

.vencimiento-wrapper {
    display: flex;
    justify-content: space-between;
}

.infocontacto-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
}


.firstcolumn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}